<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.ReservaMapper">

    <!-- Definir ResultMap para mapear las columnas de la BD con la clase Reserva -->
    <resultMap id="ReservaMap" type="models.Reserva">
        <id property="idReserva" column="id_reserva"/>
        <result property="idUsuario" column="id_usuario"/>
        <result property="idEjemplar" column="id_ejemplar"/>
        <result property="fechaReserva" column="fecha_reserva"/>
        <result property="estado" column="estado"/>
        <result property="imagenUrl" column="imagen_url"/>
    </resultMap>

    <!-- Consulta para listar todas las reservas -->
    <select id="listarReservas" resultMap="ReservaMap">
        SELECT id_reserva, id_usuario, id_ejemplar, fecha_reserva, estado, imagen_url
        FROM reservas;
    </select>
    
   
	 <!-- Insertar nueva reserva, la fecha se maneja automáticamente por la base de datos -->
    
    
    

</mapper>
